<!-- THIS IS NOT NECESSARY FOR NOW -->

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <!-- <form method="post"> -->
  <button id="btn-disconnect" type="submit" value="Log out">
    Disconnect
  </button>
    <!-- <input type="submit" value="Connect to wallet" id="btn-connect">
  </form> -->
  
{% endblock %}

{% block script %}
  <script type="application/javascript" src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="module" src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}