<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('index') }}">Flaskr (home)</a></h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span></li>
      <li><a href="{{ url_for('auth.profile') }}">Profile</a></li>
      <li><a id="btn-disconnect" href="{{ url_for('auth.logout') }}">Log out</a></li>
    {% else %}
      <li><a href="{{ url_for('auth.login') }}">Log in (deprecated)</a></li>
      <button id="btn-connect" type="submit" value="Conntect to wallet">
        Connect to wallet
      </button>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<section class="script">
  
  <!-- Import packages with unpkg CDN. Might use something more reliable for production. -->
  <script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script> <!-- For standard web3 interactions -->
  <script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script> <!-- Universal wallet connectors -->
  <script type="text/javascript" src="https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js"></script> <!-- Get blockchain data -->
  
  
  <!-- File specific modules/packages -->
  {% block script %}
    
  {% endblock %}
</section>